//Color

$base-color: rgb(1, 9, 37);
$stack-color: rgb(93, 146, 212);
$light-color: rgb(255, 255, 255);
$btn-color: rgb(31, 53, 105);

//Font-Family

$ML: "MullerLight", sans-serif;
$MB: "MullerBold", sans-serif;
$MBl: "MullerBlack", sans-serif;
